<!-- Link back to dashboard component -->
<div class="row">
  <div class="col-md-6">
    <a routerLink="/" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left"></i> Back To Products List
    </a>
  </div>
  <div class="col-md-6">
  </div>
</div>

<div class="card">
  <div class="card-header">
    EDIT <strong>{{product.name}}</strong>
  </div>
  <div class="card-body">
    <form #productEditForm="ngForm" (ngSubmit)="onSubmitEdit(productEditForm)">

      <!-- Image -->
      <div class="form-group">
        <label for="image">Image Url (optional)</label>
        <input type="text" class="form-control" name="image" #image="ngModel" [(ngModel)]="product.image">
      </div>

      <!-- Name -->
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" #name="ngModel" [ngClass]="{'is-invalid':name.errors && name.touched}"
          [(ngModel)]="product.name" minlength="4" maxlength="32" required>
        <div [hidden]="!name.errors?.required" class="invalid-feedback">
          Product name required!
        </div>
        <div [hidden]="!name.errors?.minlength" class="invalid-feedback">
          Must be at least 4 characters!
        </div>
      </div>

      <!-- Short Description -->
      <div class="form-group">
        <label for="shortDescription">Short Description</label>
        <input type="text" class="form-control" name="shortDescription" #shortDescription="ngModel" [ngClass]="{'is-invalid':shortDescription.errors && shortDescription.touched}"
          [(ngModel)]="product.shortDescription" maxlength="127" required>
        <div [hidden]="!shortDescription.errors?.required" class="invalid-feedback">
          Description required!
        </div>
      </div>

      <!-- Price -->
      <div class="form-group">
        <label for="price">Price</label>
        <input type="number" class="form-control" [(ngModel)]="product.price" name="price" #price="ngModel" [ngClass]="{'is-invalid':price.errors && price.touched}"
          [disabled]="disablePriceOnEdit" step="0.01" pattern="^[0-9]+(\.([0-9]{1,2})?)?$" required>
        <div [hidden]="!price.errors?.required" class="invalid-feedback">
          Price required!
        </div>
        <div [hidden]="!price.errors?.pattern" class="invalid-feedback">
          Price must be greater than 0 with 2 precision
        </div>
      </div>

      <!-- Quantity -->
      <div class="form-group">
        <label for="quantity">Quantity</label>
        <input type="number" class="form-control" [(ngModel)]="product.quantity" name="quantity" [ngClass]="{'is-invalid':quantity.errors && quantity.touched}"
          #quantity="ngModel" step="1" pattern="^[1-9]([0-9]+)?" required>
        <div [hidden]="!quantity.errors?.required" class="invalid-feedback">
          Quantity required!
        </div>
        <div [hidden]="!quantity.errors?.pattern" class="invalid-feedback">
          Quantity must be integer and greater than 0
        </div>
      </div>

      <input type="submit" value="Submit Edit" class="btn btn-dark btn-block">

    </form>
  </div>
</div>
