<div class="row">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-5">
        <h2><i class="fa fa-shopping-cart"> Products List</i></h2>
      </div>
      <div class="col-md-7">
        <form class="form-inline">
          <input id="search-input" class="form-control mr-sm-2 border border-dark" type="search" placeholder="Search Products..."
            aria-label="Search">
          <button id="search-button" class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <h5 class="text-right text-secondary">Equity: {{ totalPossibleRevenue | currency:"EUR":"symbol"}}</h5>
  </div>
  <div class="col-md-2">
    <app-sidebar></app-sidebar>
  </div>
</div>
<table *ngIf="products?.length > 0; else noProducts" class="table table-striped">
  <thead class="thead-inverse">
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Available</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td><img id="productImage" src="{{product.image}}" alt="image"></td>
      <td>{{product.name}}</td>
      <td>{{product.shortDescription}}</td>
      <td>{{product.price | currency:"EUR":"symbol"}}</td>
      <td>{{product.quantity}}</td>
      <td>
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <a routerLink="order/{{product.id}}" class="btn btn-dark btn-block"><i class="fa fa-arrow-circle-o-right">Order</i>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <a routerLink="/product/edit/{{product.id}}" class="btn btn-warning btn-block">
              Edit
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <button class="btn btn-danger btn-block" (click)="onDeleteClick()">Delete</button>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #noProducts>
  <hr>
  <h5>There are no products in the database</h5>
</ng-template>
