<div class="row">
  <div class="col-md-4">
    <h2><i class="fa fa-shopping-cart"> Products List</i></h2>
  </div>
  <div class="form-group col-md-4 mx-auto">
    <input class="form-control mr-sm-2 border border-dark" type="text" placeholder="Search product by name..."
      [(ngModel)]="searchTerm">
  </div>
  <div class="col-md-2">
    <h5 class="text-right text-secondary">Equity: {{ totalPossibleRevenue | currency:"EUR":"symbol"}}</h5>
  </div>
  <div class="col-md-2">
    <app-sidebar></app-sidebar>
  </div>
</div>

<div class="container">
  <table *ngIf="products?.length > 0; else noProducts" class="table table-striped products-table">
    <thead class="thead-inverse">
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Available</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products | productFilter: searchTerm">
        <td>
          <img id="productImage" src="{{product.image}}" onError="this.src='../../../assets/img/download.png';" alt="image not available">
        </td>
        <td>{{product.name}}</td>
        <td>{{product.shortDescription}}</td>
        <td>{{product.price | currency:"EUR":"symbol"}}</td>
        <td>{{product.quantity}}</td>
        <td>
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <a routerLink="order/{{product.id}}" class="btn btn-dark btn-block"><i class="fa fa-arrow-circle-o-right">Order</i>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <a routerLink="/product/edit/{{product.id}}" class="btn btn-warning btn-block">
                Edit
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <button class="btn btn-danger btn-block" (click)="onDeleteClick(product.id)">Delete</button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- pager -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div *ngIf="products?.length > 0" class="collapse navbar-collapse" id="navbarNav">
    <ul *ngIf="pager.pages && pager.pages.length" class="mx-auto navbar-nav pagination">
      <li class="nav-item" [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(1)" class="nav-link">First</a>
      </li>
      <li class="nav-item" [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(1)" class="nav-link">First</a>
      </li>
      <li class="nav-item" [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(pager.currentPage - 1)" class="nav-link">Previous</a>
      </li>
      <li class="nav-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
        <a (click)="setPage(page)" class="nav-link">{{page}}</a>
      </li>
      <li class="nav-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.currentPage + 1)" class="nav-link">Next</a>
      </li>
      <li class="nav-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.totalPages)" class="nav-link">Last</a>
      </li>
    </ul>
  </div>
</nav>

<ng-template #noProducts>
  <hr>
  <h5>There are no products in the database</h5>
</ng-template>
