/* You can add global styles to this file, and also import other style files */
a {
  cursor: pointer;
}

#sold-out {
  color: red;
  font-size: 1.5rem;
  font-weight: 600;
}

#few-left {
  color: blue;
  font-size: 1.2rem;
  font-weight: 600;
}

.alert p {
  margin: 0;
  padding: 0;
}

#productImage {
  width: 100%;
  height: 16vh;
}

#product-name {
  font-weight: 600;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
  text-align: center;
}

.header-table {
  text-align: center;
}

.dont-align {
  text-align: justify;
}

.align-right {
  text-align: right;
}

.products-table {
  table-layout: fixed;
  width: 100%;
}

.products-table td:nth-child(1),
.products-table td:nth-child(3) {
  width: 25%;
}

.products-table td:nth-child(4),
.products-table td:nth-child(5) {
  width: 5%;
}

.products-table td:nth-child(2),
.products-table td:nth-child(6) {
  width: 20%;
}

/* orders table numeration */
.table-orders {
  counter-reset: serial-number; /* Set the serial number counter to 0 */
}

.table-orders td:first-child:before {
  counter-increment: serial-number; /* Increment the serial number counter */
  content: counter(serial-number); /* Display the counter */
}
