<div class="row">
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-5">
        <h2><i class="fa fa-th-list"> Client Order List</i></h2>
      </div>
      <div class="col-md-7">
        <form class="form-inline">
          <input id="search-input" class="form-control mr-sm-2 border border-dark" type="search" placeholder="Search Orders..."
            aria-label="Search">
          <button id="search-button" class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <h5 class="text-right text-secondary">Total Order Revenue: {{ totalOrderRevenue | currency:"EUR":"symbol"}}</h5>
  </div>
</div>
<table *ngIf="orders?.length > 0; else noOrders" class="table table-striped">
  <thead class="thead-inverse">
    <tr>
      <th>Client</th>
      <th>Product Name</th>
      <th>Unit Price</th>
      <th>Quantity Ordered</th>
      <th>Total Price</th>
    </tr>
  </thead>
  <!-- Come back here once auth is implemented -->
  <!-- <tbody>
    <tr *ngFor="let order of orders">
      <td>{{product.name}}</td>
      <td>{{product.shortDescription}}</td>
      <td>{{product.price | currency:"EUR":"symbol"}}</td>
      <td>{{product.quantity}}</td>
    </tr>
  </tbody> -->
</table>

<ng-template #noOrders>
  <hr>
  <h5>There are no orders in the database</h5>
</ng-template>
