<div class="row">
  <div class="col-md-5">
    <h2><i class="fa fa-th-list"> Client Order List</i></h2>
  </div>
  <div class="form-group col-md-4 mx-auto">
    <input class="form-control mr-sm-2 border border-dark" type="text" placeholder="Search by client name..."
      [(ngModel)]="searchTerm">
  </div>
  <div class="col-md-3">
    <h5 class="text-right text-secondary">Total Order Revenue: {{ totalOrderRevenue | currency:"EUR":"symbol"}}</h5>
  </div>
</div>


<table *ngIf="orders?.length > 0; else noOrders" class="table table-striped">
  <thead class="thead-inverse">
    <tr>
      <th>Client</th>
      <th>Contact</th>
      <th>Product Name</th>
      <th>Unit Price</th>
      <th>Ordered</th>
      <th>Total Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders | orderFilter: searchTerm">
      <td>{{order.clientName}}</td>
      <td>{{order.clientContact}}</td>
      <td>{{order.productName}}</td>
      <td>{{order.unitPrice}}</td>
      <td>{{order.quantityOrdered}}</td>
      <td>{{order.totalPrice | currency:"EUR":"symbol"}}</td>
    </tr>
  </tbody>
</table>

<ng-template #noOrders>
  <hr>
  <h5>There are no orders in the database</h5>
</ng-template>
